<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto Modificado</title>
</head>
<body>
    <div class="product-item">
    <p><strong>_id:</strong> {{products._id}}</p>
    <p><strong>Title:</strong> {{products.title}}</p>
    <p><strong>Description:</strong> {{products.description}}</p>
    <p><strong>Code:</strong> {{products.code}}</p>
    <p><strong>Stock:</strong> {{products.stock}}</p>
    <p><strong>Stock:</strong> {{products.status}}</p>
    <p><strong>Category:</strong> {{products.category}}</p>
    <p><strong>Price:</strong> {{products.price}}</p>
    <button class="btn-volver">Volver</button>
</div>
</body>
</html>
<script src="js/products.js"></script>
